{% extends "expenses/base.html" %}
{% block title %}Expenses Tracker{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>Expense Tracker</h1>
        <h2>Categories</h2>
        {% if categories %}
            <div>
                {% for category in categories %}
                    <div class="category">
                        <a href=" {% url 'expenses:detail' category_id=category.id %} ">{{ category.name }}</a>
                        ${{ category.total|default:0|floatformat:2 }}
                    </div>

                {% endfor %}
            </div>
        {% else %}
            <p>No categories are available.</p>
        {% endif %}

        <h2>Expenses</h2>
        {% if expenses_list %}
            <h3>Filter Expenses</h3>

            <form method="get">
                {{ filter.form.as_p }}
                <button type="submit">Filter</button>
            </form>

            <ul>
                {% for expense in filter.qs %}
                     <div>
                         {{ expense.expense_text }} ${{ expense.cost }} {{ expense.category }} Created
                        at: {{ expense.created_at }} Modified at: {{ expense.updated_at }}
                     </div>
                {% empty %} <ul>No products found!</ul>
                {% endfor %}
            </ul>

        {% else %}
            <p>No expenses are available.</p>
        {% endif %}

        <form action="{% url 'expenses:add' %}" method="post">
            {% csrf_token %}
            <button type="submit">Add expenses</button>
        </form>

        <p><a href="{% url 'password_change' %}">Password Change</a></p>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>

    {% else %}
        <p>You are not logged in</p>
        <p><a href="{% url 'password_reset' %}">Password Reset</a></p>
        <a href="{% url 'login' %}">Log In</a><br>
        <a href="{% url 'signup' %}">Sign up</a>
    {% endif %}
{% endblock %}